services:
  enshrouded:
    image: mbround18/enshrouded-docker:latest
    build:
      context: .
      dockerfile: Dockerfile
      platforms:
        - linux/amd64
    environment:
      TZ: "America/Los_Angeles"
      NAME: "Demo Enshrouded Server"
      AUTO_UPDATE: "1"
      AUTO_UPDATE_SCHEDULE: "0 3 * * *"
      SCHEDULED_RESTART: "1"
      SCHEDULED_RESTART_SCHEDULE: "0 4 * * *"
      SET_GROUP_ADMIN_PASSWORD: "super-secure-password"
      SET_GROUP_GUEST_PASSWORD: "secure-password"
      RUST_LOG: "info"
    ports:
      - "15636:15636/udp"
      - "15636:15636/tcp"
      - "15637:15637/udp"
      - "15637:15637/tcp"
    volumes:
      - ./data:/home/steam/enshrouded
