services:
  enshrouded:
    image: mbround18/enshrouded-docker:latest
    build:
      context: .
      dockerfile: Dockerfile
      platforms:
        - linux/amd64
    environment:
      SERVER_NAME: "My Enshrouded Server" # Optional, Name of the server
#      PASSWORD: "" # Optional, Password for the server
#      SAVE_DIRECTORY: ./savegame # Optional, Save directory for the game
#      LOG_DIRECTORY: ./logs # Optional, Log directory for the server
#      SERVER_IP: 0.0.0.0 # Optional, IP address for the server
#      GAME_PORT: 15636 # Optional, Game port for the server
#      QUERY_PORT: 15637 # Optional, Query port for the server
#      SLOT_COUNT: 16 # Optional, Number of slots for the server
    ports:
      - "15636:15636"
      - "15637:15637"
    volumes:
      - ./tmp:/home/steam/enshrouded
