{
  "name": "{{ server_name | default('My Enshrouded Server') }}",
  "password": "{{ password }}",
  "saveDirectory": "{{ save_directory | default('./savegame') }}",
  "logDirectory": "{{ log_directory | default('./logs') }}",
  "ip": "{{ server_ip | default('0.0.0.0') }}",
  "gamePort": {{ game_port | default(15636) }},
  "queryPort": {{ query_port | default(15637) }},
  "slotCount": {{ slot_count | default(16) }},
  "userGroups": [
    {
      "name": "Default",
      "password": "{{ password }}",
      "canKickBan": false,
      "canAccessInventories": true,
      "canEditBase": true,
      "canExtendBase": true,
      "reservedSlots": 0
    {% if admin_password %}
    },
    {
      "name": "Admin",
      "password": "{{ admin_password }}",
      "canKickBan": true,
      "canAccessInventories": true,
      "canEditBase": true,
      "canExtendBase": true,
      "reservedSlots": 1
    {% endif %}
    }
  ]
}